
<div class="container m-3">
  <h1>Stupid Coaching</h1>
  <div class="row">
    <div class="col-sm-4 p-3">
      <form action="/answer" data-turbo="false" class="input-group">
        <label for="formGroupInput" class="form-label">Ask your coach anything: </label>
        <input type="text" name="ask" id="formGroupInput" class="form-control">
        <button class="btn btn-outline-secondary" type="submit">Ask!</button>
      </form>
    </div>
  </div>
</div>
